%.row
  .col-sm-6.col-md-6
    .thumbnail
    %img(alt="" data-src="holder.js/300x300" src="#{$this->assetsPath}/img/pic1.jpg")
      .text-center
        %h3 HelloWorld/PHPJuniorGroup
        %p
          %a.btn.btn-primary(href="#{$this->createUrl('auth/signin')}" target="_blank") SignIn
        %p
          %a.btn.btn-primary(href="#{$this->createUrl('auth/signin')}" target="_blank")