!!!
%head
  %title SOC
  %link(rel="stylesheet" href="#{$this->assetsPath}/bootstrap/css/bootstrap.min.css" )

  %script(src="#{$this->assetsPath}/js/jquery.min.js")
  %script(src="#{$this->assetsPath}/bootstrap/js/bootstrap.min.js")

%body
  - echo $content