!!!
%head
  %title SOC
  %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  %link(rel="stylesheet" href="#{$this->assetsPath}/bootstrap/css/bootstrap.min.css" )

  %script(src="#{$this->assetsPath}/js/jquery.min.js")
  %script(src="#{$this->assetsPath}/bootstrap/js/bootstrap.min.js")

%body
  %nav.nav.navbar-default
    %div.container-fluid
      %div.navbar-header
        %button.navbar-toggle.collapsed( type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")

  .container
    - echo $content