%form(role="form" action="#{$this->createUrl('user/signin')}" method="post")
  .form-group
    %label(for="exampleInputEmail1")Email address
    %input.form-control(type="email"  id="exampleInputEmail1" placeholder="Введите ваш Email" )
  .form-group
    %label(for="exampleInputEmail1")Email address
    %input.form-control(type="email"  id="exampleInputEmail1" placeholder="Введите ваш Email" )
